*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: seagreen;
    color: #333;
    text-align: center;
    padding: 1rem;

    min-height: 100vh;
    line-height: 1.5;

    display: grid;
    align-items: center;
    justify-content: stretch;
}

h1 {
    margin-block: 0 2em;
    line-height: 1;
    font-size: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

h1 img {
    width: 50px;
    aspect-ratio: 1;
    display: block;
    max-width: 100%;
}

.container {
    width: 90%;
    max-width: 500px;
    margin-inline: auto;
}

form {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
    gap: 2rem;
}

form > *:first-child input {
    padding: 1em 0.75em;
    width: 100%;
    background: none;
    border: 0;
    font-size: 1rem;
    color: #333;
    border-bottom: 1px solid #333;
}

input[type='submit'] {
    border: 0;
    padding: 1em 2em;
    background-color: #333;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #333;
}

form > *:first-child input:focus {
    outline: none;
}

select {
    border: 1px solid #333;
    width: 100%;
    padding: 1em;
    background: none;
    color: #333;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.child {
    border: 1px solid white;
    padding: 1em;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 1em;
    font-size: 1.125rem;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.child i {
    color: darkred;
    cursor: pointer;
}

button {
    border: 0;
    background-color: white;
    color: #333;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    padding: 0.5em 2em;
    border-radius: 5px;
    cursor: pointer;
}

.card-theme {
    border: 0;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
